body,
body * {
   display: flex;
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   flex-flow: column nowrap;
   min-width: 870px;
}

header {
   flex: 1 0 120px;
   width: 100%;
   justify-content: center;
   align-items: center;
}

button {
   padding: 12px;
}

header > * {
   margin: 20px;
}

main {
   background: pink;
   outline: 4px outset #eaafbb;
   flex-flow: row nowrap;
   flex: 8 0 600px;
   margin: auto;
   position: relative;
}

.column {}

.blocos{
   background: rgb(173, 173, 173);
   border: 0.5px solid black;
}

.chip {}

.blue {}

.red {}

#fimDeJogo {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   display: none;
   background: gray;
   padding: 25%;
}

#innersection {
   margin: auto;
}


/* css temporário apenas para visualização e testes */

.column {
   background: gray;
   padding: 4px;
   margin: 4px;
   flex-flow: column-reverse nowrap;
   flex: 0 0 60px;
   height: fit-content;
}

.column:hover {
   background: #aca;
}

.cell {
   background: yellow;
   flex: 0 0 100px;
   width: 100px;
   padding: 4px;
   border-radius: 50%;
   margin: 4px;
   box-shadow: 6px 6px 4px 2px #993e inset
}

.chip {

}

.blue {
   background: blue;
   border: yellow 2px solid;
   box-shadow: 0 0 4px 6px #aaf3 inset, 4px 4px 8px 2px #ccc5 inset, -4px -4px 8px 2px #2328 inset;
}

.red {
   background: red;
   box-shadow: 0 0 4px 6px #faa3 inset, 4px 4px 8px 2px #ccc5 inset, -4px -4px 8px 2px #2328 inset;
   border: yellow 2px solid;
}

#fimDeJogo {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   display: none;
   background: gray;
   padding: 25%;
}

#innersection {
   margin: auto;
}

