/*tabuleiro dividido em colunas*/
.column {
   
}

.cell {
  
}

.blocos{
   background: rgb(173, 173, 173);
   border: 0.5px solid black;
}

.chip {}

.blue {}

.red {}

#fimDeJogo {
   position: absolute;
   top: 0;
   width: 100%;
   height: 100%;
   display: none;
}

/*teste merge Edu */